*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%, url(1.jpg));
    background-image: url("1.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1800px;
    height: 75px;
    margin: auto;
    
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #f06ba9;
    font-size: 37px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 100px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
    padding-top: 90px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color : #f190c6;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #f06ba9;
}
