*{
    margin: 0;
    padding: 0;
}



.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%, url(1.jpg));
    background-image: url("1.jpg");
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: top 70px;
    background-size: cover;
    height: 200vh;
}

.navbar{
    width: 100%;
    height: 75px;
    margin: auto;
    position: relative;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #e91578;
    font-size: 37px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 15px;
}

.menu{
    width: 800px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

ul li{
    list-style: none;
    margin-left: 62px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color : #db549e;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #e91578;
}




.logout{
    font-family: 'Times New Roman';
    height: 40px;
    background: transparent;
    border: 1px solid #e91578;
    color: #e91578;
    font-size: 16px;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin-right: 20px;
    transition: 0.4s ease-in-out;
}

.btn{
    height: 40px;
    background: #e91578;
    border: 2px solid #e91578;
    color: #ffffff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: 20px;

}

.btn:focus, .logout:focus{
    outline: none;
}

.btn:hover {
    background-color: #f06ba9; 
}

.content{
    width: 100%;
    font-size: 20px;
    margin-top: 150px;
    color: #e91578;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: #e91578;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

.content .cn a{
    text-decoration: none;
    color: #ffffff;
    transition: .3s ease;
}

.cn:hover{
    background-color: #f06ba9;
}

.user-tab{
    margin-right: 20px;
}

.greeting {
    font-family: 'Times New Roman';
    width: 120px;
    height: 40px;
    border: 2px solid #e91578;
    color: #e91578;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
}

.logout-btn:focus {
    outline: none;
}

.newnavbar {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
}

.newicon {
    width: 200px;
}

.newlogo {
    color: #e91578;
    font-size: 37px;
    font-family: Arial;
    padding-left: 20px;
    margin-top: 20px;
}

.newmenu {
    flex: 1;
    padding-left: 20px;
}

.newmenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.newmenu ul li {
    display: inline;
    margin-top: 20px;
    margin-right: 20px;
}

.newmenu ul li a {
    text-decoration: none;
    color: #e91578;
    margin-top: 20px;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

.newmenu ul li a:hover {
    color: #db549e;
}

.newcontent {
    width: 100%;
    font-size: 30px;
    margin-top: 150px;
    color: #e91578;
    text-align: left; 
    margin-left: 20px;
}


.cn {
    width: 120px;
    height: 40px;
    background: #e91578;
    border: 2px solid #e91578;
    color: #ffffff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s ease;
    margin-top: 20px; 
}

.cn a {
    text-decoration: none;
    color: #ffffff;
    transition: .3s ease;
}

.cn:hover {
    background-color: #f06ba9;
}
.contact {
    margin-top: 50px; 
    margin-left: 20px;
}

.clinic-info h2 {
    margin-left: 20px;
    color: #e91578;
    font-size: 24px;
    margin-bottom: 10px;
}

.clinic-info p {
    color: #e91578;
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: 20px;
}

.doctor h2 {
    color: #e91578;
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.doctor-info {
    color: #e91578;
    margin-bottom: 30px;
    margin-left: 20px;
}

.doctor-info h3 {
    color: #e91578;
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 20px;
}

.doctor-info p {
    color: #e91578;
    font-size: 16px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.doctor-info img {
    max-width: 5%;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
}
